<ion-app>
  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <br/><br/><ion-img style="width: 20%;margin-left: auto;margin-right: auto;" src="assets/icon/favicon.png"></ion-img>

        <ion-button color="primary" expand="full" shape="round" size="large" (click) = "createGame()">
          <ion-icon name="create"></ion-icon>Create Game
        </ion-button>
        <ion-button color="primary" expand="full" shape="round" size="large" (click) = "joinGame()">
          <ion-icon name="search"></ion-icon>Join Game
        </ion-button>
        <ion-button color="primary" expand="full" shape="round" size="large" href="https://en.wikipedia.org/wiki/Sheng_ji">
          <ion-icon name="document"></ion-icon>Game Rule
        </ion-button>
        <ion-button color="primary" expand="full" shape="round" size="large">
          <ion-icon name="exit"></ion-icon>Exit
        </ion-button>
      </ion-toolbar>
    </ion-header>
  </ion-router-outlet>
</ion-app>
