<ion-header>
  <ion-toolbar>
    <!-- <ion-title class="ion-text-center" size="large">升级游戏菜单</ion-title><br/><br/> -->
      <br/><br/><ion-img style="width: 20%;margin-left: auto;margin-right: auto;" src="assets/icon/favicon.png"></ion-img>

    <ion-button color="primary" expand="full" shape="round" size="large" (click) = "creteGame()">
      <ion-icon name="create"></ion-icon>创建游戏
    </ion-button>
    <ion-button color="primary" expand="full" shape="round" size="large" (click) = "joinGame()">
      <ion-icon name="search"></ion-icon>加入游戏
    </ion-button>
    <ion-button color="primary" expand="full" shape="round" size="large" (click) = "showAlert()">
      <ion-icon name="document"></ion-icon>游戏规则
    </ion-button>
    <ion-button color="primary" expand="full" shape="round" size="large">
      <ion-icon name="exit"></ion-icon>退出游戏
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>