<ion-content id="main-content">
  <div #cardTable id="card-table">
    <ion-button *ngIf="game?.playButtonVisible" color="primary" shape="round" size="small" id="playCardsButton" (click) = "game?.playSelectedCards()">
      Play
    </ion-button>
    <ion-button *ngIf="addAIVisible" color="primary" shape="round" size="small" id="addAIButton" (click) = "addAIPlayer()">
      Add AI Player
    </ion-button>
    <div>Kitty Player: {{game?.kittyPlayer}}</div>
    <div>Trump Declarer: {{game?.trumpPlayer}}</div>
    <div>Trump Rank: {{game?.ranking?.trumpRank}}</div>
    Trump Cards:<br/>
    <img *ngFor="let trumpCardURL of game?.trumpCardsImgURL" class="card" [src]='trumpCardURL' [ngStyle]="{'max-width': '7%', 'max-height': '15%', 'display': 'inline-block'}"/>
    <div>Score: {{game?.score}}</div>
    <div *ngFor="let player of game?.players">
      <div *ngIf="player"
        [style.position]="'absolute'"
        [style.left]="player?.label_left"
        [style.top]="player?.label_top">{{player?.name}} (Score: {{player?.score}})</div>
    </div>
  </div>
</ion-content>
