<ion-content id="main-content">
  <div #cardTable id="card-table">
    <!-- TODO(Aaron): Make this available for room owner only. -->
    <ion-button *ngIf="addAIVisible" color="primary" shape="round" size="small" id="addAIButton" (click) = "addAIPlayer()">
      Add AI Player
    </ion-button>
    <br/><div #gameInfo id="game-info"></div>
    <div *ngFor="let player of game?.players">
      <div
        [style.position]="'absolute'"
        [style.left]="player?.label_left"
        [style.top]="player?.label_top">{{player?.name}}</div>
    </div>
  </div>
</ion-content>
