<ion-content id="main-content">
  <div #cardTable id="card-table">
    <ion-button *ngIf="addAIVisible" color="primary" shape="round" size="small" id="addAIButton" (click) = "addAIPlayer()">
      Add AI Player
    </ion-button>
    <div>Trump Rank: {{game?.ranking?.trumpRank}}</div>
      Trump Cards: <div *ngFor="let trumpCardURL of game?.trumpCardsImgURL" class="card" [ngStyle]="{'background-image': 'url(' + trumpCardURL  + ')', 'width': '69px', 'height': '94px', 'background-size': '100%', 'display': 'inline-block'}"></div>
    <div>Trump Declarer: {{game?.trumpPlayer}}</div>
    <div *ngFor="let player of game?.players">
      <div
        [style.position]="'absolute'"
        [style.left]="player?.label_left"
        [style.top]="player?.label_top">{{player?.name}}</div>
    </div>
  </div>
</ion-content>
