<ion-content id="main-content">
  <div #cardTable id="card-table">
    <!-- TODO(Aaron): Make this available for room owner only. -->
    <ion-button color="primary" shape="round" size="small" id="addAIButton" (click) = "addAIPlayer()">
      Add AI Player
    </ion-button>
    <br/><div #gameInfo id="game-info"></div>
    <!-- TODO(Aaron): Proper CSS for this so that they go with player location. -->
    <div *ngFor="let playerInfo of playerInfos">
       <span>{{playerInfo.getPlayerId()}}</span>
    </div>
  </div>
</ion-content>
